@import "src/styles/variables.scss";

.trip-step {
  padding-left: 48px;
  position: relative;
  padding-bottom: 20px;

  @media (max-width: $device-small-2) {
    padding-bottom: 14px;
    padding-left: 32px;
  }

  &.description {
    padding-bottom: 36px;

    @media (max-width: $device-small-2) {
      padding-bottom: 24px;
    }
  }
  &.stay {
    @media (max-width: $device-small-2) {
      padding-bottom: 5px;
    }
    .trip-step-line {
      background-color: transparent;
    }
  }

  &-header {
    padding-bottom: 8px;

    @media (max-width: $device-small-2) {
      padding-bottom: 4px;
    }
    &.indented {
      padding-bottom: 16px;
      @media (max-width: $device-small-2) {
        padding-bottom: 8px;
      }
    }

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: $device-small-2) {
        flex-direction: column;
        align-items: start;
        gap: 10px;
      }

      h4 {
        font-size: 20px;
        font-weight: 600;
        font-family: $font-bold;
        letter-spacing: 0.38px;
        margin: 0 0 4px;
      }
    }

    &-places {
      display: flex;
      align-items: center;
      gap: 16px;
      color: $color-gray-light;
    }

    &-place.text-light {
      color: $color-gray-light;
    }
  }

  &-body {
    &-description.text-regular {
      margin: 0;
      font-family: $font-regular;
      font-weight: 400;
      color: $color-gray-dark;
    }

    &-plan-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .text-title {
        margin: 0;
      }
    }
    &-plan-settings {
      display: flex;
      align-items: center;
      gap: 4px;

      &-icon {
        margin-left: 4px;
      }
    }
  }

  &-line {
    position: absolute;
    left: 16px;
    height: 100%;
    width: 2px;
    background-color: $color-grey-line;
    display: flex;
    justify-content: center;
    align-items: start;

    @media (max-width: $device-small-2) {
      left: 10px;
    }

    &-icon {
      width: 24px;
      height: 24px;
      border-radius: 20px;
      position: absolute;
      background-color: $color-grey-line-icon;
      color: $color-white;

      &.description {
        background-color: $color-purple;
        line-height: 24px;
        color: $color-white;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: start;
        font-weight: 500;
        font-family: $font-regular;
      }
    }
  }

  &-day {
    padding-top: 8px;
  }
}
