$color-white: #ffffff;
$color-white-light: #ffffff80;
$color-white-blue: #ccd7f1;
$color-white-grey: #f2f2f7;
$color-light-blue: #f0f4fd;
$color-black: #000000;
$color-gray: #9797974d;
$color-gray-transparent: #8888884d;
$color-gray-dark: #3c3c43cc;
$color-gray-light: #3c3c4380;
$color-purple: #714eff;

$color-grey-line: #3c3c432e;
$color-grey-line-icon: #9d9da1;

$font-regular: "SF-Regular";
$font-medium: "SF-Medium";
$font-bold: "SF-Bold";
