@import "src/styles/variables.scss";

.custom-input {
  @media (max-width: $device-small) {
    flex-grow: 1;
  }

  &-label {
    margin-bottom: 5px;
  }

  &-field {
    padding: 10px 16px;
    border: 1px solid $color-gray;
    border-radius: 8px;
    width: 100%;
  }
}
