@import "src/styles/variables.scss";

.trip-info {
  margin: 28px 0;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 2px 3px 0px #00000008;
  box-shadow: 0px 0px 0px 0.5px #9797974d;

  @media (max-width: $device-small-2) {
    padding: 15px;
    margin: 15px 0;
  }

  &-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    width: 100%;

    @media (max-width: $device-small-1) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    line-height: 24px;

    @media (max-width: $device-small-1) {
      flex-grow: 0;
      align-items: center;
    }

    &:last-child {
      flex-grow: 1;
      align-items: flex-end;

      @media (max-width: $device-small-1) {
        flex-grow: 0;
        align-items: center;
      }
    }

    &-label {
      font-size: 15px;
      font-weight: 400;
      color: $color-gray-dark;
      letter-spacing: -0.2px;
    }

    &-value {
      font-size: 16px;
      font-weight: 600;
      font-family: $font-bold;
      letter-spacing: -0.3px;
    }
  }

  &-flight {
    color: $color-purple;
    border: 0;
    outline: none;
    background-color: transparent;
    font-family: $font-bold;
    cursor: pointer;
  }
}
